.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0
    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #1a1a1a;
    border-bottom: 1px solid #333;
    z-index: 1000;
}

.navbar-logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-icon {
    width: 150px;
    margin-right: 10px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

/* --- STILE PER I LINK E LA BARRA SOTTO --- */
.navbar-links a {
    color: #D8A928;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* 2. CREAZIONE DELLA BARRA SOTTO */
.navbar-links a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #772284;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
    transform-origin: bottom center;
}

/* 3. CONDIZIONI PER MOSTRARE LA BARRA */
.navbar-links a:hover::after {
    transform: scaleX(1);
}

.navbar-links a.active::after {
    transform: scaleX(1);
    background-color: #D8A928;
}

.navbar-links a:hover {
    color: #D8A928;
}

.navbar-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-icon {
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.2s, transform 0.2s;
}

.cart-icon:hover {
    color: #D8A928;
    transform: scale(1.3);
}

.btn-levelup {
    background-color: #D8A928;
    color: #772284;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.2s, transform 0.2s;
}

.btn-levelup:hover {
    transform: scale(1.1);
}