/* WRAPPER */
.sort-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* SELECT BOX PERSONALIZZATO */
.custom-select {
  position: relative;
  width: 230px;
  font-family: "Cinzel", serif;
}

.select-display {
  width: 100%;
  padding: 13px 18px;
  background: #1c1a24;
  border: 2px solid var(--purple);
  border-radius: 10px;
  color: var(--light);
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: 0.2s ease;
  box-shadow: 0 0 10px rgba(108, 33, 255, 0.4);
}

.select-display:hover {
  border-color: var(--gold);
  background: #241f2c;
}

.custom-select.open .select-arrow {
  transform: rotate(180deg);
}

.select-arrow {
  transition: transform 0.25s ease;
  color: var(--gold);
  font-size: 20px;
}

/* DROPDOWN */
.select-dropdown {
  position: absolute;
  top: 105%;
  width: 100%;
  background: #1c1a24;
  border: 2px solid var(--purple);
  border-radius: 12px;
  overflow: hidden;
  z-index: 50;
  box-shadow: 0 8px 20px rgba(108, 33, 255, 0.3);
}

.select-option {
  padding: 12px 18px;
  cursor: pointer;
  font-size: 14px;
  color: var(--light);
  transition: 0.15s;
}

.select-option:hover {
  background: rgba(255, 215, 0, 0.1);
  color: var(--gold);
}

.select-option.active {
  background: rgba(108, 33, 255, 0.2);
  color: var(--gold);
  font-weight: bold;
}
