.app-footer {
    background-color: #1a1a1a;
    color: #aaaaaa;
    padding: 30px 50px;
    border-top: 1px solid #333;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

/* Da aggiungere se si aggiungoino contenuti a footer-links-section */
/* .footer-links-section {
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
} */

.footer-utility-link {
    color: #aaaaaa;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.2s;
}

.footer-utility-link:hover {
    color: #FFD700;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.social-icons {
    display: flex;
    gap: 20px;
    font-size: 1.5rem;

}

.social-icon {
    color: #aaaaaa;
    text-decoration: none;
    transition: color 0.2s, transform 0.2s;
}

.social-icon:hover {
    color: #FFD700;
    transform: scale(1.3);
}

.footer-copyright {
    font-size: 0.9rem;
    margin: 0;
}